/* table {
    border: 2px solid forestgreen;
    font-size: large;
  }
  th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: aquamarine;
  }
  td {
    text-align: center;
    border: 1px solid black;
    background-color: bisque;
  } */

  #tab {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: large;
  }
  
  #tab td, #tab th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tab tr:nth-child(even){background-color: #f2f2f2;}
  
  #tab tr:hover {background-color: #ddd;}
  
  #tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4C6DB4;
    color: white;
  }